.container {
    /* display: inline-block; */
    height: 250px;
    width: 250px;
    background-color: #C70039;
    padding: 16px;
    border: 4px solid #FFC300;
    margin: 8px;
    box-sizing: border-box;
    /* This makes the padding and border part of the width and height, so the final size is the same as the specified size. */
    position: relative;
}

.content {
    height: 100%;
    width: 100%;
    /* background-color: #581845; */
    background-color: #221628;
    /* position: relative; */
}

.inner {
    height: 32px;
    width: 32px;
    background-color: #FF5733;
    position: absolute;
    right: 0;
    bottom: 0;
}