:root[data-theme="light"] {
    --text: #13121c;
    --background: #e8e6f0;
    --background-secondary: #dcdae5;
    --background-tertiary: #c5c1d3;
    --primary: #3c3460;
    --primary-transparent: #3c346080;
    --secondary: #9e94cc;
    --secondary-transparent: #9e94cc80;
    --accent: #ba830d;
    --accent-transparent: #ba830d80;
}

:root[data-theme="dark"] {
    --text: #e5e4ed;
    --background: #110f19;
    --background-secondary: #1b1925;
    --background-tertiary: #2f2c3e;
    --primary: #a69ecb;
    --primary-transparent: #a69ecb80;
    --secondary: #3d336b;
    --secondary-transparent: #3d336b80;
    --accent: #f2bc46;
    --accent-transparent: #f2bc4680;
}

body {    
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    background-color: var(--background);
    color: var(--text);
}

main {
    margin: 0 64px;
}

a {
    color: var(--primary);
}

a:hover {
    color: var(--accent);
}

hr {
    margin: 0;
    margin-top: 32px;
    border: 2px solid var(--primary);
    border-radius: 4px;
}

button {
    min-width: 92px;
    width: 100%;
}

button:hover {
    cursor: pointer;
}

.loading-logo {
    color: var(--primary);
}

.course-summary {
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.course-summary section {
    max-width: 50%;
}

.course-actions {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
}

.course-actions div {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.course-actions img {
    max-height: 100%;
    flex-grow: 1;
    object-fit: cover;
    border-radius: 4px;
}

.module-table {
    outline: 2px solid var(--text);
    background-color: var(--background-secondary);
}

.module-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 32px;
    outline: 2px solid var(--text);
    background-color: var(--background-tertiary);
}

.module-content ul {
    padding: 0;
}

.module-lecture {
    display: flex;
    justify-content: space-between;
    margin: 8px 32px;
}

.main-top-bar {
    display: flex;
    justify-content: space-between;
    padding: 0 64px;
    align-items: center;
}

.main-footer {
    display: flex;
    justify-content: space-between;
    padding: 32px 64px;
    align-items: center;
}

.user-actions {
    display: flex;
    gap: 16px;
}

.primary-button {
    background-color: var(--accent);
    color: #221628;
    border: 0;
    border-radius: 4px;
    padding: 4px;
    font-size: 16px;
    font-weight: bold;
    box-sizing: border-box;
}

.primary-button:hover {
    background-color: var(--accent-transparent);
}

.secondary-button {
    background-color: transparent;
    color: var(--accent);
    border: 2px solid var(--accent);
    border-radius: 4px;
    padding: 4px;
    font-size: 16px;
    font-weight: bold;
    box-sizing: border-box;
}

.secondary-button:hover {
    color: var(--accent-transparent);
    border: 2px solid var(--accent-transparent);
}
