:root {
    color-scheme: light dark;
}

.container {
    background-color: #7e5bdd;
    border: 2px solid white;
    border-radius: 8px;

    display: grid;
    /* grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 2fr 4fr 2fr; */
    grid-template-columns: 250px 100px;
    grid-template-rows: 100px 100px 100px;
}

.container div {
    background-color: #b19af1;
    border: 2px solid #2b1f4b;
    border-radius: 8px;
}
